@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap");

:root {
  --accent-400: #94a130;
  --red-brown: #321715;
  --black: rgb(23, 23, 23);
  --accent-200: #fbf37c;

  /* --accent-200: #ff3732; */
  --nav-color: hsl(1, 100%, 40%);
  /* --nav-color: #fcfc95; */
  --white: #fff;
  --sans: "Roboto", sans-serif;
  --serif: "Playfair Display", serif;
  --sans: "Montserrat", sans-serif;
  --serif: "Merriweather", serif;
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

.hamburger {
  width: 50%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo__container {
  transform: translateX(10%);
  width: 60px;
  height: 60px;
  margin: 5px 0;
}

header {
  margin: 0;
}

body {
  background-color: var(--black);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  font-family: var(--sans);
  letter-spacing: 1.5px;
  overflow-x: hidden;
  /* background-image: url(img/a10.jpg); */
  /* background-clip: border-box; */
}

body * {
  /* z-index: 1; */
}

main {
  padding-top: 8rem;
  width: 80%;
  position: relative;
  background-color: var(--black);
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5em;
  max-width: 850px;
  /* border: 1px solid white; */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-100 {
  width: 100%;
  background-color: var(--black);
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.is-hidden {
  display: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  order: -1;
  height: 100%;
  overflow: hidden;
  /* border: 1px solid white; */
}

.content h2 {
  font-family: var(--serif);
  text-align: left;
  background-color: var(--black);
  margin: 0;
  padding: 0;
  color: var(--accent-200);
}

.content p {
  font-weight: 400;
  margin: 25px 0;
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.8;
}

.img-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid white; */
}

.img-container img {
  align-self: flex-start;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
p {
  color: #fff;
  margin: 10px;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .content {
    order: 0;
    width: 45%;
  }

  .img-container {
    width: 45%;
  }
  .container {
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 4rem;
    padding-bottom: 5rem;
    align-items: flex-start;
  }
}
